* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	font-family: 'Roboto', sans-serif;
	--purple: rgb(58, 11, 98);
	--Azul-Oscuro: hsla(244, 95%, 50%, 0.459);
	--Naranja: #fa8837;
	--ligth-gray: rgba(225, 215, 234, 0.192);
	--gray:rgb(225, 215, 234);
	--Azul:rgba(6, 54, 132, 0.7);
}

body {
    font-family: 'open sans';
}

.contenedorgeneral{
    padding: 32px 0;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.contenedor {
    padding: 60px 0;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: fixed;
    height: 800px;
    /*background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(207, 45%, 52%, 0.327) , hsla(244, 95%, 50%, 0.459)), url(../img/Portada2.png);
    /*background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/page.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(207, 45%, 52%, 0.327) , hsla(244, 95%, 50%, 0.459)), url(../img/Portada2.png);
    /*background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/page.jpg);
    W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: fill;
    background-attachment: fixed;
    position: relative;
}

header .textos-header{
    display: flex;
    height: 900px;
    width: 150%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
    height: 50%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #fa8837;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(6, 54, 132, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria a{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards .card{
    background: #fa8837;
    display: flex;
    width: 32%;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #2059d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}

/* inicia nuevo */

.header{
    position: fixed;
    top: 0;
    z-index: 100;
}

.header img{
    width: 50%;
    height: 50%;
    cursor: pointer;
    transition: 1s;
}

.header svg:hover{
    transform: scale(1.5);
}

.top-nav {
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    padding: 8px;
    width: 100%;
    height: fixed;
    text-align: right;
    background-color: rgba(0, 4, 255, 0.272);
    backdrop-filter: blur(5px);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header a {
    color: var(--gray);
    transition: .5s;
    padding: .30%;
}

.header a:hover{
    background: var(--Naranja);
    border: solid 1px var(--Azul);
    border-radius: .5rem;
    padding: 16px;
    color: var(--black-purple);
}

.menu {
    width: 200%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.menu > li {
    margin: 0 16px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 800px) {

    .top-nav {
        height: 64px;
        backdrop-filter: none;
    }
    .menu-button-container {
        display: flex;
        position: fixed;
        right: 16px;
    }
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 64px;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        background-color: rgb(43, 15, 67, .8);
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    
    .menu > li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
    }
}



.textos-header{
    padding-top:1rem; 
    display: grid;
    align-content: center;
    grid-gap: 2rem;
    height: 100vh;
}

.textos-header ul{
    display: grid;
    justify-content: space-around;
    grid-gap: 1rem;
}
.textos-header li{
    width: 200px;    
    border: solid 2px var(--gray);
    border-radius: 1rem;
    text-align: center;
    transition: .5s;
    overflow: hidden;
    background-color: rgba(109, 0, 252, 0.621);
}
.textos-header a{
    width: 100%;
    height: 100%;
    padding: .5rem 0;
    color: var(--Naranja);
}

.textos-header li:hover{
    background-color: var(--Naranja);
    transform: scale(1.1)
}

.textos-header a:hover{
    color: var(--gray)
}




/*
nav{
    text-align: right;
    padding: 30px 50px 0 0;
    transition-timing-function: ease;
}

nav > a{
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: 1000;
    text-decoration: none;
    margin-right: 10px;
    transition-timing-function: ease;
}

nav > a:hover{
    text-decoration: underline;
    transition-timing-function: ease;
}*/
