@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Play&display=swap');

:root {
	font-family: 'Open Sans', sans-serif;
	--Black: #34353A;
	--Yellow: #FBCB73;
	--Gray1: #C0C1C6;
	--Gray2: #3D3E42;
	--White:#F7F8FA;
	--Azul:rgba(6, 54, 132, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.Wrapper{
    width: 100vw;
    height: 100vh;
}